{% extends 'base.html' %}


{% block title %}
        DATABASE
        
{% endblock title %}

{% block body %}
      
<div class="container mt-5">
        <div class="row">
        <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Customer Table</h5>
                          <p class="card-text"></p>
                          <a href="/cust" class="btn btn-primary">View</a>
                        </div>
                      </div>
                      <br>
                      <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Employee Table</h5>
                          <p class="card-text"></p>
                          <a href="/emp" class="btn btn-primary">View</a>
                        </div>
                      </div>
                      <br>
                      <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Ice cream Table</h5>
                          <p class="card-text"></p>
                          <a href="/ice" class="btn btn-primary">view</a>
                        </div>
                      </div>
                      <br>
                      <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Payment Table</h5>
                          <p class="card-text"></p>
                          <a href="/pay" class="btn btn-primary">View</a>
                        </div>
                      </div>


        </div>
        <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Supplier Table</h5>
                          <p class="card-text"></p>
                          <a href="/suppl" class="btn btn-primary">View</a>
                        </div>
                      </div>
                      <br>
                      <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Products Table</h5>
                          <p class="card-text"></p>
                          <a href="/prod" class="btn btn-primary">View</a>
                        </div>
                      </div>
                      <br>
                      <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Orders Table</h5>
                          <p class="card-text"></p>
                          <a href="/ord" class="btn btn-primary">View</a>
                        </div>
                      </div>
                      <br>
                      <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">HOME</h5>
                          <p class="card-text"></p>
                          <a href="/" class="btn btn-primary">Go</a>
                        </div>
                      </div>



        </div>


{% endblock body %}