{% extends 'base.html' %}


{% block title %}
        
        ICE CREAM
{% endblock title %}

{% block body %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ITEM_ID</th>
        <th scope="col">NAME</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">PRICE</th>
        <th scope="col">WAITER_ID</th>
        <th scope="col">CREATOR_ID</th>
      </tr>
    </thead>
    <tbody>
    {% for post in query %}
      <tr>
        <th scope="row">{{post.item_id}}</th>
        <td>{{post.name}}</td>
        <td>{{post.description}}</td>
        <td>{{post.price}}</td>
        <td>{{post.waiter_id}}</td>
        <td>{{post.creator_id}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock body %}