{% extends 'base.html' %}

{% block title %}
        
        MENU
{% endblock title %}

{% block body %}
<div class="container mt-5">
        <div class="row">
        <div class="col-md-4">
          <a class="btn btn-primary" href="/orders" role="button" style="
          position: left;
          position: relative;
          left: 1291px;
          bottom: 94px;
          ">Order Now</a>
                <div class="card" style="width: 18rem;">
                        <img src="/static/images/gadbad.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Gadbad</h5>
                          <p class="card-text">A mish mash of Vanilla, Strawberry and Pineapple Ice creams, Fruits and Dry Fruits topped with Pineapple pulp.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">Item ID:1</li>
                                <li class="list-group-item">Price:150.00</li>
                        </ul>
                      </div>
                      <br>
                      <div class="card" style="width: 18rem;">
                        <img src="/static/images/bsb.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Butterscotch Blast</h5>
                          <p class="card-text">Butterscotch ice cream, caramel and chocolate toppings and cashewnuts.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">Item ID:4</li>
                                <li class="list-group-item">Price:150.00</li>
                        </ul>
                      </div>
                      <br>

              

                <div class="card" style="width: 18rem;">
                        <img src="/static/images/hcf.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hot Choclate Fudge</h5>
                          <p class="card-text">Vanilla ice cream dressed in some inviting hot chocolate fudge and sprinkled generously with cashew nuts.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">Item ID:7</li>
                                <li class="list-group-item">Price:130.00</li>
                        </ul>
                      </div>
                      <br>




        </div>
        <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                        <img src="/static/images/banana.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Classic Banana Split</h5>
                          <p class="card-text">Banana drizzled with Caramel Sauce with Vanilla, Strawberry and Chocolate Ice creams topped with Pineapple crush, Chocolate Sauce and strawberry sauce, whipped cream cherries and roasted cashewnuts.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">Item ID:2</li>
                                <li class="list-group-item">Price:170.00</li>
                        </ul>
                      </div>
                      <br>


                      <div class="card" style="width: 18rem;">
                        <img src="/static/images/chocob.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Choco Brownie Fudge</h5>
                          <p class="card-text">This piece of indulgence has a good twist of chocolate walnut brownie topped with chocolate ice cream with smooth chocolate fudge, Whipped cream, nuts and cherry.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">Item ID:5</li>
                                <li class="list-group-item">Price:160.00</li>
                        </ul>
                      </div>
                      <br>


                      <div class="card" style="width: 18rem;">
                        <img src="/static/images/dbc.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Death By Chocolate</h5>
                          <p class="card-text">The Classic - A dangerous combination of vanilla ice cream and gallons of hot chocolate fudge, Armed with the yumminess of dark chocolate cake & roasted cashewnuts.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">Item ID:8</li>
                                <li class="list-group-item">Price:200.00</li>
                        </ul>
                      </div>
                      <br>
                     
                    </div>
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                          <img src="/static/images/bana.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Dry fruit Special</h5>
                            <p class="card-text">Fully loaded dry fruits like raisin, almonds, dates, and cashew with creamy vanilla ice cream fortified with cherry.</p>
                          </div>
                          <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Item ID:3</li>
                                  <li class="list-group-item">Price:175.00</li>
                          </ul>
                        </div>
                        <br>
                        <div class="card" style="width: 18rem;">
                          <img src="/static/images/chocoz.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Chocozilla</h5>
                            <p class="card-text">Brace yourself for what only seems like Charlie's best from the factory. Chocolate ice cream, chocolate bar, gooey chocolate cake, chocolate sauce, Laced with whipped cream, with oreo chunk sprinkles and a rich garnish of chocolate waffle, Gems, Chocos and some more chocolate bar.</p>
                          </div>
                          <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Item ID:6</li>
                                  <li class="list-group-item">Price:175.00</li>
                          </ul>
                        </div>
                        <br>
                        <div class="card" style="width: 18rem;">
                          <img src="/static/images/druits.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Fruit Salad</h5>
                            <p class="card-text">Fruit salad is a dish consisting of various kinds of fruit, sometimes served in a liquid, either their own juices or a syrup. In different forms, fruit salad can be served as an appetizer, a side salad, or a dessert.</p>
                          </div>
                          <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Item ID:9</li>
                                  <li class="list-group-item">Price:120.00</li>
                          </ul>
                        </div>




                      </div>




        </div>
{% endblock body %}